* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lalezar", cursive;
  color: white;
}

body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
