* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Chakra Petch", sans-serif;
  font-style: italic;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .kv {
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    ////////////////////////////////
    h2 {
      margin: 0;
      color: #f8f150;
      span {
        color: #f8f150;
      }
    }

    section {
      padding: 20px;
    }

    .hero {
      font-size: clamp(40px, 10vw, 100px);
      line-height: 1;
      display: inline-block;
      color: #fff;
      z-index: 2;
      letter-spacing: 10px;

      /* Bright things in dark environments usually cast that light, giving off a glow */
      filter: drop-shadow(0 1px 3px);
    }

    .layers {
      position: relative;
    }

    .layers::before,
    .layers::after {
      content: attr(data-text);
      position: absolute;
      width: 110%;
      z-index: -1;
    }

    .layers::before {
      top: 10px;
      left: 15px;
      color: #e0287d;
    }

    .layers::after {
      top: 5px;
      left: -10px;
      color: #1bc7fb;
    }

    .paths {
      animation: paths 5s step-end infinite;
    }

    @keyframes paths {
      0% {
        clip-path: polygon(
          0% 63%,
          43% 63%,
          43% 28%,
          87% 28%,
          87% 6%,
          60% 6%,
          60% 92%,
          88% 92%,
          88% 45%,
          1% 45%,
          1% 72%,
          65% 72%,
          65% 99%,
          97% 99%,
          97% 15%,
          47% 15%,
          47% 26%,
          1% 26%,
          1% 90%,
          35% 90%,
          35% 0%,
          86% 0%,
          86% 8%,
          52% 8%,
          52% 41%,
          76% 41%,
          76% 56%,
          60% 56%,
          60% 96%,
          45% 96%,
          45% 1%,
          82% 1%,
          82% 74%,
          48% 74%,
          48% 65%,
          94% 65%,
          94% 16%,
          1% 16%,
          1% 20%,
          95% 20%,
          95% 58%,
          57% 58%,
          57% 45%,
          95% 45%,
          95% 58%,
          1% 58%,
          1% 50%,
          6% 50%,
          6% 41%,
          41% 41%,
          41% 1%
        );
      }

      5% {
        clip-path: polygon(
          0% 47%,
          39% 47%,
          39% 94%,
          17% 94%,
          17% 47%,
          2% 47%,
          2% 71%,
          53% 71%,
          53% 55%,
          58% 55%,
          58% 28%,
          34% 28%,
          34% 17%,
          3% 17%,
          3% 70%,
          87% 70%,
          87% 79%,
          51% 79%,
          51% 99%,
          42% 99%,
          42% 49%,
          63% 49%,
          63% 44%,
          35% 44%,
          35% 41%,
          95% 41%,
          95% 80%,
          8% 80%,
          8% 58%,
          59% 58%,
          59% 91%,
          29% 91%,
          29% 55%,
          41% 55%,
          41% 26%,
          11% 26%,
          11% 41%,
          5% 41%,
          5% 42%,
          9% 42%,
          9% 56%,
          90% 56%,
          90% 53%,
          92% 53%,
          92% 94%,
          82% 94%,
          82% 49%,
          46% 49%,
          46% 19%,
          69% 19%,
          69% 4%,
          9% 4%,
          9% 60%,
          58% 60%,
          58% 75%,
          75% 75%,
          75% 82%
        );
      }

      30% {
        clip-path: polygon(
          0% 8%,
          93% 8%,
          93% 44%,
          86% 44%,
          86% 75%,
          64% 75%,
          64% 72%,
          22% 72%,
          22% 75%,
          98% 75%,
          98% 19%,
          59% 19%,
          59% 49%,
          56% 49%,
          56% 88%,
          17% 88%,
          17% 61%,
          43% 61%,
          43% 40%,
          51% 40%,
          51% 93%,
          77% 93%,
          77% 52%,
          76% 52%,
          76% 40%,
          71% 40%,
          71% 47%,
          15% 47%,
          15% 35%,
          48% 35%,
          48% 67%,
          40% 67%,
          40% 67%
        );
      }

      45% {
        clip-path: polygon(
          0% 36%,
          97% 36%,
          97% 68%,
          28% 68%,
          28% 69%,
          82% 69%,
          82% 67%,
          77% 67%,
          77% 1%,
          51% 1%,
          51% 85%,
          89% 85%,
          89% 48%,
          73% 48%,
          73% 40%,
          33% 40%,
          33% 59%,
          67% 59%,
          67% 79%,
          65% 79%,
          65% 2%,
          86% 2%,
          86% 63%,
          78% 63%,
          78% 11%,
          62% 11%
        );
      }

      76% {
        clip-path: polygon(
          0% 81%,
          62% 81%,
          62% 6%,
          45% 6%,
          45% 28%,
          37% 28%,
          37% 45%,
          31% 45%,
          31% 49%,
          91% 49%,
          91% 32%,
          19% 32%,
          19% 20%,
          78% 20%,
          78% 46%,
          51% 46%,
          51% 39%,
          80% 39%,
          80% 60%,
          24% 60%,
          24% 36%,
          32% 36%,
          32% 37%,
          77% 37%,
          77% 80%,
          60% 80%,
          60% 25%,
          41% 25%,
          41% 49%,
          10% 49%,
          10% 21%,
          30% 21%,
          30% 11%,
          91% 11%,
          91% 44%,
          10% 44%,
          10% 62%,
          44% 62%,
          44% 68%,
          88% 68%,
          88% 24%,
          66% 24%
        );
      }

      90% {
        clip-path: polygon(
          0% 82%,
          86% 82%,
          86% 25%,
          8% 25%,
          8% 64%,
          38% 64%,
          38% 33%,
          76% 33%,
          76% 70%,
          61% 70%,
          61% 22%,
          91% 22%,
          91% 72%
        );
      }

      1%,
      7%,
      33%,
      47%,
      78%,
      93% {
        clip-path: none;
      }
    }

    .movement {
      /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
      position: relative;
      animation: movement 8s step-end infinite;
    }

    @keyframes movement {
      0% {
        top: 0px;
        left: -20px;
      }

      15% {
        top: 10px;
        left: 10px;
      }

      60% {
        top: 5px;
        left: -10px;
      }

      75% {
        top: -5px;
        left: 20px;
      }

      100% {
        top: 10px;
        left: 5px;
      }
    }

    .opacity {
      animation: opacity 5s step-end infinite;
    }

    @keyframes opacity {
      0% {
        opacity: 0.1;
      }

      5% {
        opacity: 0.7;
      }

      30% {
        opacity: 0.4;
      }

      45% {
        opacity: 0.6;
      }

      76% {
        opacity: 0.4;
      }

      90% {
        opacity: 0.8;
      }

      1%,
      7%,
      33%,
      47%,
      78%,
      93% {
        opacity: 0;
      }
    }

    .font {
      animation: font 7s step-end infinite;
    }

    @keyframes font {
      0% {
        font-weight: 100;
        color: #e0287d;
        filter: blur(3px);
      }

      20% {
        font-weight: 500;
        color: #fff;
        filter: blur(0);
      }

      50% {
        font-weight: 300;
        color: #1bc7fb;
        filter: blur(2px);
      }

      60% {
        font-weight: 700;
        color: #fff;
        filter: blur(0);
      }

      90% {
        font-weight: 500;
        color: #e0287d;
        filter: blur(6px);
      }
    }

    .glitch span {
      animation: paths 5s step-end infinite;
    }

    .glitch::before {
      animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 8s step-end infinite, movement 10s step-end infinite;
    }

    .glitch::after {
      animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 7s step-end infinite, movement 8s step-end infinite;
    }

    .hero-container {
      position: absolute;
      padding: 200px 0;
      text-align: center;
    }

    .environment {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      filter: blur(5px);
      background: url(https://images.unsplash.com/photo-1602136773736-34d445b989cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80)
        center no-repeat;
      background-size: cover;
    }
    ////////////////////////////////
    .kv_img {
      position: relative;
    }
    .logo {
      position: relative;
    }
  }
  .divider {
    padding: 20px 0;
    width: 85%;
    align-items: center;
    margin: auto;
  }

  .about {
    text-align: center;
    padding: 50px 0;
    margin: 0 100px;
    background-color: rgba(0, 0, 0, 0.6);
    h2 {
      font-size: 100px;
      padding-bottom: 50px;
      background: linear-gradient(
        221deg,
        #f8f150 33.17%,
        #eea359 51.4%,
        #e86765 64.04%,
        #e21d74 79.84%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .description {
      padding: 0 400px 50px 400px;
      background: linear-gradient(
        221deg,
        #f8f150 33.17%,
        #eea359 51.4%,
        #e86765 64.04%,
        #e21d74 79.84%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      background: linear-gradient(
        221deg,
        #f8f150 33.17%,
        #eea359 51.4%,
        #e86765 64.04%,
        #e21d74 79.84%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      .sumup {
        width: 600px;
        padding: 20px 0;
        h3 {
          font-size: 30px;
          margin-bottom: 15px;
        }
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .mechanic {
    display: flex;
    justify-content: center;
    .left {
      padding-left: 100px;
      background-image: url("../img/frame.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 70px;
      img {
        scale: 1.2;
      }
    }
    .right {
      position: relative;
      text-align: center;
      margin-left: 200px;

      .right_text {
        position: absolute;
        background: linear-gradient(
          221deg,
          #f8f150 33.17%,
          #eea359 51.4%,
          #e86765 64.04%,
          #e21d74 79.84%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        h3 {
          font-size: 40px;
          padding-bottom: 20px;
        }
      }
      img {
        padding: 160px 0 0 100px;
      }
    }
  }
  .localizations {
    h2 {
      font-size: 100px;
      text-align: center;
      background: linear-gradient(
        221deg,
        #f8f150 33.17%,
        #eea359 51.4%,
        #e86765 64.04%,
        #e21d74 79.84%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .cell {
      position: absolute;
      z-index: -1;
    }
    .cell-right {
    }
    .gallery {
      width: 100%;
      .gallery-container {
        align-items: center;
        display: flex;
        height: 400px;
        margin: 0 auto;
        max-width: 1000px;
        position: relative;
        .gallery-item {
          height: 200px;
          opacity: 0;
          position: absolute;
          transition: all 0.3s ease-in-out;
          width: 330px;
          z-index: 0;
          border-radius: 15px;
          background-size: contain;
        }
        .gallery-item-1 {
          left: 10%;
          opacity: 0.4;
          transform: translateX(-50%);
        }
        .gallery-item-2,
        .gallery-item-4 {
          height: 250px;
          opacity: 0.8;
          width: 380px;
          z-index: 1;
        }
        .gallery-item-2 {
          left: 30%;
          transform: translateX(-50%);
        }
        .gallery-item-3 {
          //need to be added box-shadow: ;
          height: 300px;
          opacity: 1;
          left: 50%;
          transform: translateX(-50%);
          width: 430px;
          z-index: 2;
        }
        .gallery-item-4 {
          left: 70%;
          transform: translateX(-50%);
        }
        .gallery-item-5 {
          left: 90%;
          transform: translateX(-50%);
          opacity: 0.4;
        }
      }
      .gallery-controls {
        display: flex;
        justify-content: center;
        margin: 25px 0;
        height: 100px;
      }
      .gallery-controls button {
        background-color: transparent;
        color: #f8f150;
        border: 0;
        cursor: pointer;
        font-size: 30px;
        margin: 0 50px;
        padding: 0 12px;
        text-transform: capitalize;
      }
      .gallery-controls-button:focus {
        outline: none;
      }
      .gallery-controls-previous {
        position: relative;
      }
      .gallery-controls-previous::before {
        border: solid #f8f150;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        padding: 10px;
        position: absolute;
        left: -30px;
        top: 25%;
        transform: rotate(135deg) translateY(-50%);
        transition: left 0.15s ease-in-out;
        width: 5px;
      }
      .gallery-controls-previous:hover::before {
        left: -40px;
      }
      .gallery-controls-next {
        position: relative;
      }
      .gallery-controls-next::before {
        border: solid #f8f150;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 5px;
        padding: 10px;
        position: absolute;
        right: -30px;
        top: 45%;
        transform: rotate(-45deg) translateY(-50%);
        transition: right 0.15s ease-in-out;
        width: 5px;
      }
      .gallery-controls-next:hover:before {
        right: -40px;
      }
      .gallery-nav {
        bottom: -15px;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100%;
        li {
          background: #f8f150;
          border-radius: 50%;
          height: 10px;
          margin: 0 16px;
          width: 10px;
          .gallery-item-selected {
            background: #555;
          }
        }
      }
    }
  }
  .cars {
    position: relative;

    img[src$="corner_up.png"] {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 150px;
    }
    img[src$="corner_down.png"] {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 150px;
    }
    h2 {
      display: flex;
      justify-content: center;
      position: relative;
      font-size: 100px;
      padding-bottom: 50px;
      background: linear-gradient(
        221deg,
        #f8f150 33.17%,
        #eea359 51.4%,
        #e86765 64.04%,
        #e21d74 79.84%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .car_description {
        margin-left: 350px;
        background-color: rgba(2, 215, 242, 0.7);
        height: 250px;
        padding: 20px;
        text-align: center;
        border-radius: 3%;
        .textbox {
          background: linear-gradient(
            221deg,
            #f8f150 33.17%,
            #eea359 51.4%,
            #e86765 64.04%,
            #e21d74 79.84%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: rgba(0, 0, 0, 0.6);
          h3 {
            font-size: 40px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .price_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    margin: 0 0 50px 0;
    img {
      // position: absolute;
      z-index: 0;
    }
    .price_box {
      position: absolute;
      z-index: 1;
      height: 350px;
      text-align: center;
      p {
        font-size: 85px;
        padding-bottom: 10px;
        color: #e21d74;
      }
      button,
      button::after {
        width: 380px;
        height: 86px;
        font-size: 36px;
        background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        line-height: 88px;
        box-shadow: 6px 0px 0px #00e6f6;
        outline: transparent;
        position: relative;
      }

      button::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);

        content: "AVAILABLE NOW";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          45deg,
          transparent 3%,
          #00e6f6 3%,
          #00e6f6 5%,
          #ff013c 5%
        );
        text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
        clip-path: var(--slice-0);
      }
      button:hover::after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
      }
      @keyframes glitch {
        0% {
          clip-path: var(--slice-1);
          transform: translate(-20px, -10px);
        }
        10% {
          clip-path: var(--slice-3);
          transform: translate(10px, 10px);
        }
        20% {
          clip-path: var(--slice-1);
          transform: translate(-10px, 10px);
        }
        30% {
          clip-path: var(--slice-3);
          transform: translate(0px, 5px);
        }
        40% {
          clip-path: var(--slice-2);
          transform: translate(-5px, 0px);
        }
        50% {
          clip-path: var(--slice-3);
          transform: translate(5px, 0px);
        }
        60% {
          clip-path: var(--slice-4);
          transform: translate(5px, 10px);
        }
        70% {
          clip-path: var(--slice-2);
          transform: translate(-10px, 10px);
        }
        80% {
          clip-path: var(--slice-5);
          transform: translate(20px, -10px);
        }
        90% {
          clip-path: var(--slice-1);
          transform: translate(-10px, 0px);
        }
        100% {
          clip-path: var(--slice-1);
          transform: translate(0);
        }
      }
    }
  }
}
